<h1>Brawl</h1>
<div>
    <div class="shadow p-3 bg-body-tertiary rounded">
        <div class="cardGrid">
            <card player="$ctrl.fighters[0]"></card>
            <em>VS</em>
            <card player="$ctrl.fighters[1]"></card>
        </div>
        <Button 
            ng-click="$ctrl.hit()"
            ng-if="!$ctrl.fightIsOver"
            class="btn btn-dark mt-2"
        >
            Hit !
        </Button>
    </div>
    <history 
        ng-if="$ctrl.history.length > 0 && !$ctrl.fightIsOver"
        title="History hits" 
        data="$ctrl.history">
    </history>
    <winner 
        ng-if="$ctrl.fightIsOver"
        winner="$ctrl.winner"
        >
    </winner>
</div>