<h1>Brawl</h1>
<div>
    <ul>
        <li ng-repeat="opponent in $ctrl.fighters">
                <span>{{opponent.name}}</span>
        </li>
    </ul>
    <Button 
        ng-click="$ctrl.hit()"
        ng-if="!$ctrl.fightIsOver"
        class="btn btn-dark"
    >
        Hit !
    </Button>
    <div ng-if="$ctrl.history.length > 0 && !$ctrl.fightIsOver">
        <h3>History hits</h3>
        <ul>
            <li ng-repeat="turn in $ctrl.history">
                <span>{{turn[0].name}} takes {{turn[0].wounds}} wounds (life: {{turn[0].life}})</span>
                <span>{{turn[1].name}} takes {{turn[1].wounds}} wounds (life: {{turn[1].life}})</span>
            </li>
        </ul>
    </div>
    <div ng-if="$ctrl.fightIsOver">
        <div class="alert alert-success" role="alert">
            {{$ctrl.winner.name}} the {{$ctrl.winner.class}} is the winner!
        </div>
        <Button 
            ng-click="$ctrl.restart()"
            class="btn btn-dark"
        >
            Restart the fight
        </Button>
        <a href="#!/characters">
            <Button 
            ng-click="$ctrl.reset()"
            class="btn btn-light"
            >
                Chose other Characters
            </Button>
        </a>
    </div>
</div>