<div>
    <h1>Select 2 opponents</h1>
    <ul>
        <li ng-repeat="character in $ctrl.characters">
            <label class="checkbox p-2 selected-{{character.selected}}">
                <input type="checkbox" ng-model="character.selected">
                <span>{{character.name}}</span> <span class="d-inline p-2 text-bg-light rounded">{{character.class}}</span> <span class="d-inline p-2 text-bg-light rounded">{{character.weapon}}</span>
            </label>
        </li>
    </ul>
    <div>
        <button
            ng-if="!$ctrl.showForm" 
            ng-click="$ctrl.showForm = true"
            class="btn btn-dark">
                Add New character
        </button> 
        <form 
            ng-if="$ctrl.showForm === true"
            ng-submit="$ctrl.addCharacter()" 
            class="form-horizontal mt-2">
            <input type="text" ng-model="$ctrl.newCharacterName">
            <button type="submit">Ajouter</button>
            <button ng-click="$ctrl.cancel()">Annuler</button>
        </form>
    </div>
    <button
        ng-if="$ctrl.selectionIsReady()"
        ng-click="$ctrl.startFight()"
        class="btn btn-dark mt-2">
            Fight!
    </button>
    <button
        ng-if="$ctrl.rootHasHistory()"
        ng-click="$ctrl.showHistory = !$ctrl.showHistory"
        ng-class="$ctrl.showHistory ? 'btn btn-secondary mt-2' : 'btn btn-dark mt-2'">
            {{$ctrl.showHistory ? "Hide history" : "Check last fight history"}}
    </button>
    <history
        ng-if="$ctrl.showHistory === true" 
        title="Last fight history" 
        data="$root.lastFightHistory">
    </history>
</div>